* {
box-sizing: border-box;
padding: 0;
margin: 100;
}

header {
  height: 100px;
  background-color: #FEFE3A;
}

.colonna1 {
  display: inline-block;
  float: left;
  margin:5px 0;
  height: 200px;
  width: 200px;
  background-color: #CC87DA;
}

.colonna2 {
  float: left;
  margin: 5px;
  height: 320px;
  width: 45%;
  background-color: #730671;
}

.colonna3 {
  float: left;
  width: 20%;
  height: 100px;


}
.colonna3-1 {
  background-color: #CC87DA;
  height: 150px;
  margin: 10px;

}

.colonna3-2 {
  background-color: #CC87DA;
  height: 150px;
  margin: 10px;
}

.colonna4 {
  content: normal;
  margin: 5px;
  display: inline-block;
  clear: inherit;
  height: 100px;
  width: 100%;
  background-color: #A4D2E1;

}
